<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Debo Sarl</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Jost:wght@500;600;700&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="51">
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0" id="home">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a href="/"" class="navbar-brand p-0">
                    <h1 class="m-0">Debo</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav mx-auto py-0">
                        <a href="/"" class="nav-item nav-link active">Accueil</a>
                        <a href="#about" class="nav-item nav-link">A Propos</a>
                        <a href="#feature" class="nav-item nav-link">Services</a>
                        <a href="#pricing" class="nav-item nav-link">Tarifs</a>
                        <a href="#contact" class="nav-item nav-link">Contact</a>
                    </div>
                    <a href="" class="btn btn-primary-gradient rounded-pill py-2 px-4 ms-3 d-none d-lg-block">Obtenir un fichier gratuit </a>
                </div>
            </nav>

            <div class="container-xxl bg-primary hero-header hero-payement">
                <div class="container px-lg-5">
                    <div class="row g-5">
                        <div class="col-lg-8 text-center text-lg-start">
                          <h1 class="text-white mb-4 animated slideInDown">Payez en toute sécurité par mobile</h1>
                          <p class="text-white nimated slideInDown">Ou payez par carte bancaire</p>
                          <a href="" class="btn btn-secondary-gradient py-sm-3 px-4 px-sm-5 rounded-pill animated slideInRight">Payement bancaire</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->

    <!-- Features Start -->
      <div class="container-xxl py-5" id="feature">
        <div class="container py-5 px-lg-5">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="text-primary-gradient fw-medium">Nos methode de payment mobile</h5>
                <h1 class="mb-5">Methodes de payment accepté</h1>
            </div>
            <div class="row g-4 d-flex justify-content-between">
                <div class="col-2 d-inline-flex align-items-center justify-content-center wow fadeInUp" data-wow-delay="0.1s" style="width: 220px; height: 120px; margin-top: 64px;">
                    <div class="feature-item bg-light d-inline-flex align-items-center justify-content-center flex-column rounded p-4 w-100">
                        <img src="https://pbs.twimg.com/profile_images/1458758047132798980/RtLX1cYg_400x400.jpg" alt="Payement orange money" class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle mb-4" style="width: 60px; height: 60px;">
                        </img>
                        <h5 class="mb-3 text-center">Orange Money</h5>
                    </div>
                </div>
                <div class="col-2 d-inline-flex align-items-center justify-content-center wow fadeInUp" data-wow-delay="0.1s" style="width: 220px; height: 120px; margin-top: 64px;">
                    <div class="feature-item bg-light d-inline-flex align-items-center justify-content-center flex-column rounded p-4 w-100">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/MTN_Logo.svg/1200px-MTN_Logo.svg.png" alt="Payement orange money" class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle mb-4" style="width: 60px; height: 60px;">
                        </img>
                        <h5 class="mb-3 text-center">MTN</h5>
                    </div>
                </div>
                <div class="col-2 d-inline-flex align-items-center justify-content-center wow fadeInUp" data-wow-delay="0.1s" style="width: 220px; height: 120px; margin-top: 64px;">
                    <div class="feature-item bg-light d-inline-flex align-items-center justify-content-center flex-column rounded p-4 w-100">
                        <img src="https://gnatepe.com/wp-content/uploads/2023/06/Moov-Money.jpg" alt="Payement orange money" class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle mb-4" style="width: 60px; height: 60px;">
                        </img>
                        <h5 class="mb-3 text-center">Moov</h5>
                    </div>
                </div>
                <div class="col-2 d-inline-flex align-items-center justify-content-center wow fadeInUp" data-wow-delay="0.1s" style="width: 220px; height: 120px; margin-top: 64px;">
                    <div class="feature-item bg-light d-inline-flex align-items-center justify-content-center flex-column rounded p-4 w-100">
                        <img src="https://uploads-ssl.webflow.com/6437d506b0e56c918e301844/6475b81a10acd004ecd22ff1_western-union.jpg" alt="Payement orange money" class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle mb-4" style="width: 60px; height: 60px;">
                        </img>
                        <h5 class="mb-3 text-center">Western Union</h5>
                    </div>
                </div>
                <div class="col-2 d-inline-flex align-items-center justify-content-center wow fadeInUp" data-wow-delay="0.1s" style="width: 220px; height: 120px; margin-top: 64px;">
                    <div class="feature-item bg-light d-inline-flex align-items-center justify-content-center flex-column rounded p-4 w-100">
                        <img src="https://mkbank.uz/upload/iblock/f65/c12pwuebnppg2x6cx0qz15a3jf9xv0z5/moneygram.jpg" alt="Payement orange money" class="d-inline-flex align-items-center justify-content-center bg-primary-gradient rounded-circle mb-4" style="width: 60px; height: 60px;">
                        </img>
                        <h5 class="mb-3 text-center">MoneyGram</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->

            <!-- Pricing Start -->
            <div class="container-xxl py-5" id="pricing">
              <div class="container py-5 px-lg-5">
                  <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                      <h5 class="text-primary-gradient fw-medium">Tarifs</h5>
                      <h1 class="mb-5">Choisir une forumle</h1>
                  </div>
                  <div class="tab-class text-center pricing wow fadeInUp" data-wow-delay="0.1s">
                      <ul class="nav nav-pills d-inline-flex justify-content-center bg-primary-gradient rounded-pill mb-5">
                          <li class="nav-item">
                              <button class="nav-link active" data-bs-toggle="pill" href="#tab-1">Formule Classique</button>
                          </li>
                          <li class="nav-item">
                              <button class="nav-link" data-bs-toggle="pill" href="#tab-2">Formule Sur-Mesure</button>
                          </li>
                      </ul>
                      <div class="tab-content text-start">
                          <div id="tab-1" class="tab-pane fade show p-0 active">
                              <div class="row g-4">
                                  <div class="col-lg-4">
                                      <div class="bg-light rounded">
                                          <div class="border-bottom p-4 mb-4">
                                              <h4 class="text-primary-gradient mb-1">1 Mois</h4>
                                              <span>20.000 Fcfa</span>
                                          </div>
                                          <div class="p-4 pt-0">
                                              <h1 class="mb-3">
                                                  20.000<small class="align-top" style="font-size: 22px; line-height: 45px;">Fcfa</small><small
                                                      class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Month</small>
                                              </h1>
                                              <div class="d-flex justify-content-between mb-3"><span>Satisfait ou rembourser</span><i class="fa fa-check text-primary-gradient pt-1"></i></div>
                                              <div class="d-flex justify-content-between mb-3"><span>Service Client 7j/7</span><i class="fa fa-check text-primary-gradient pt-1"></i></div>
                                              <a href="payement" class="btn btn-primary-gradient rounded-pill py-2 px-4 mt-4">S'abonner</a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-4">
                                      <div class="bg-light rounded border">
                                          <div class="border-bottom p-4 mb-4">
                                              <h4 class="text-primary-gradient mb-1">6 Mois</h4>
                                              <span>100.000 Fcfa</span>
                                          </div>
                                          <div class="p-4 pt-0">
                                              <h1 class="mb-3">
                                                  16.666<small class="align-top" style="font-size: 22px; line-height: 45px;">Fcfa</small><small
                                                      class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Mois</small>
                                                    </h1>
                                                    <div class="d-flex justify-content-between mb-3"><span>Satisfait ou rembourser</span><i class="fa fa-check text-primary-gradient pt-1"></i></div>
                                              <div class="d-flex justify-content-between mb-3"><span>Service Client 7j/7</span><i class="fa fa-check text-primary-gradient pt-1"></i></div>
                                              <a href="payement" class="btn btn-secondary-gradient rounded-pill py-2 px-4 mt-4">S'abonner</a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-4">
                                      <div class="bg-light rounded">
                                          <div class="border-bottom p-4 mb-4">
                                              <h4 class="text-primary-gradient mb-1">12 Mois</h4>
                                              <span>180.000 Fcfa</span>
                                          </div>
                                          <div class="p-4 pt-0">
                                              <h1 class="mb-3">
                                                  15.000<small class="align-top" style="font-size: 22px; line-height: 45px;">Fcfa</small><small
                                              
                                                class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Mois</small>
                                              </h1>
                                              <div class="d-flex justify-content-between mb-3"><span>Satisfait ou rembourser</span><i class="fa fa-check text-primary-gradient pt-1"></i></div>
                                              <div class="d-flex justify-content-between mb-3"><span>Service Client 7j/7</span><i class="fa fa-check text-primary-gradient pt-1"></i></div>
                                              <a href="payement" class="btn btn-primary-gradient rounded-pill py-2 px-4 mt-4">S'abonner</a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div id="tab-2" class="tab-pane fade p-0">
                              <div class="row g-4">
                                  <div class="col-lg-4">
                                      <div class="bg-light rounded">
                                          <div class="border-bottom p-4 mb-4">
                                              <h4 class="text-primary-gradient mb-1">1 Mois</h4>
                                          </div>
                                          <div class="p-4 pt-0">
                                              <h1 class="mb-3">
                                                  100.000<small class="align-top" style="font-size: 22px; line-height: 45px;">Fcfa</small><small
                                                      class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Mois</small>
                                              </h1>
                                              <div class="d-flex justify-content-between mb-3"><span>50 dossiers par mois</span><i class="fa fa-check text-primary-gradient pt-1"></i></div>
                                              <div class="d-flex justify-content-between mb-3"><span>Satisfait ou rembourser</span><i class="fa fa-check text-primary-gradient pt-1"></i></div>
                                                <div class="d-flex justify-content-between mb-3"><span>Service Client 7j/7</span><i class="fa fa-check text-primary-gradient pt-1"></i></div>
                                             
                                             
                                              <a href="payement" class="btn btn-primary-gradient rounded-pill py-2 px-4 mt-4">S'abonner</a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-4">
                                      <div class="bg-light rounded border">
                                          <div class="border-bottom p-4 mb-4">
                                              <h4 class="text-primary-gradient mb-1">6 Mois</h4>
                                          </div>
                                          <div class="p-4 pt-0">
                                              <h1 class="mb-3">
                                                  85.000<small class="align-top" style="font-size: 22px; line-height: 45px;">Fcfa</small><small
                                                      class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Mois</small>
                                              </h1>
                                              <div class="d-flex justify-content-between mb-3"><span>50 dossiers par mois</span><i class="fa fa-check text-primary-gradient pt-1"></i></div>
                                              <div class="d-flex justify-content-between mb-3"><span>Satisfait ou rembourser</span><i class="fa fa-check text-primary-gradient pt-1"></i></div>
                                                <div class="d-flex justify-content-between mb-3"><span>Service Client 7j/7</span><i class="fa fa-check text-primary-gradient pt-1"></i></div>
                                             
                                              
                                              <a href="payement" class="btn btn-primary-gradient rounded-pill py-2 px-4 mt-4">S'abonner</a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-4">
                                      <div class="bg-light rounded">
                                          <div class="border-bottom p-4 mb-4">
                                              <h4 class="text-primary-gradient mb-1">12 Mois</h4>
                                          </div>
                                          <div class="p-4 pt-0">
                                              <h1 class="mb-3">
                                                  70.000<small class="align-top" style="font-size: 22px; line-height: 45px;">Fcfa</small><small
                                                      class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Mois</small>
                                              </h1>
                                              <div class="d-flex justify-content-between mb-3"><span>50 dossiers par mois</span><i class="fa fa-check text-primary-gradient pt-1"></i></div>
                                              <div class="d-flex justify-content-between mb-3"><span>Satisfait ou rembourser</span><i class="fa fa-check text-primary-gradient pt-1"></i></div>
                                                <div class="d-flex justify-content-between mb-3"><span>Service Client 7j/7</span><i class="fa fa-check text-primary-gradient pt-1"></i></div>
                                             
                                              <a href="payement" class="btn btn-primary-gradient rounded-pill py-2 px-4 mt-4">S'abonner</a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Pricing End -->

      <!-- Contact Start -->
      <div class="container-xxl py-5" id="contact">
        <div class="container py-5 px-lg-5">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="text-primary-gradient fw-medium">Pour une assitance et suivi lors du payement</h5>
                <h1 class="mb-2">Contactez-Nous</h1>
            </div>
            <div class="d-flex gap-2 justify-content-center">
              <div class="flex justify-content-center">
                <p class="btn btn-outline-light btn-social custom text-primary-gradient fw-medium" href=""><i class="fab fa-whatsapp"></i> +223 00 00 00 00</p>
                <p class="btn btn-outline-light btn-social custom text-primary-gradient fw-medium" href=""><i class="fa fa-light fa-envelope"></i> email@gmail.com</p>
              </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="wow fadeInUp" data-wow-delay="0.3s">
                        <form>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="name" placeholder="Your Name">
                                        <label for="name">Votre nom</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email" placeholder="Your Email">
                                        <label for="email">Votre email</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                                        <label for="subject">Objet</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 150px"></textarea>
                                        <label for="message">Message</label>
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <button class="btn btn-primary-gradient rounded-pill py-3 px-5" type="submit">Envoyez</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

    <!-- Footer Start -->
      <div class="container-fluid bg-primary text-light footer wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-5 .mt-5">
                <div class="col-md-6 col-lg-3">
                    <h4 class="text-white mb-4">Address</h4>
                    <p><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p><i class="fa fa-envelope me-3"></i>info@example.com</p>
                    <div class="d-flex pt-2">
                      <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-whatsapp"></i></a>
                      <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                      <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="text-white mb-4">Quick Link</h4>
                    <a class="btn btn-link" href="">About Us</a>
                    <a class="btn btn-link" href="">Contact Us</a>
                    <a class="btn btn-link" href="">Privacy Policy</a>
                    <a class="btn btn-link" href="">Terms & Condition</a>
                    <a class="btn btn-link" href="">Career</a>
                </div>
                <div class="col-md-6 col-lg-3">
                    <h4 class="text-white mb-4">Newsletter</h4>
                    <p>Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulpu</p>
                    <div class="position-relative w-100 mt-3">
                        <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text" placeholder="Your Email" style="height: 48px;">
                        <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i class="fa fa-paper-plane text-primary-gradient fs-4"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container px-lg-5">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">Your Site Name</a>, All Right Reserved. 
          
          <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
          Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="">Home</a>
                            <a href="">Cookies</a>
                            <a href="">Help</a>
                            <a href="">FQAs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>