<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/tenders.css">
  <link rel="stylesheet" href="/css/dashboard.css">
  <title>Debo Info Server</title>
</head>
<body class="flex-center bg-secondary-light">
  <div class="dev-log-wrapper form-search-default">
    <h2>Login</h2>
    <% if (!email) { %>
    <p>Vous devez être connecter</p>
    <form method="POST" action=<%= `${devurl}` %>>
      <input type="text" name="email" placeholder="email@deboinfo.com">
      <input type="password" name="password" placeholder="Password">
      <input type="text" name="credential" placeholder="credential">
      <button type="submit">Login</button>
    </form>
    <% } else { %>
    <p>Vous êtes connecter: <%= email %> </p>
    <a href=<%= `${devurl}/dashboard` %>>Go to dashboard</a>
    <% } %>
  
    <br/><br/>
    <a href=<%= `${devurl}/dashboard` %>>Go to dashboard</a>
  </div>
  <script>
    // send request in json format
    const form = document.querySelector('form');
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      const formData = new FormData(form);
      checkFormData(formData);
      const data = Object.fromEntries(formData);
      const response = await fetch(form.action, {
        method: form.method,
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      });
      const result = await response.json();
    });
    const checkFormData = (formData) => {
      if (!formData.get('email')) {
        alert('email is required');
        return;
      }
      if (!formData.get('password')) {
        
        alert('password is required');
        
        return;
      }
      if (!formData.get('credential')) {
        alert('credential is required');
        return;
      }
      // password should have Upper case, lowercase, special charactere and number
      const password = formData.get('password');
      const passwordRegex = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$/;
      if (!passwordRegex.test(password)) {
        alert('password should have Upper case, lowercase, special charactere and number');
        return;
      }
      // email should be a valid email
      const email = formData.get('email');
      const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
      if (!emailRegex.test(email)) {
        alert('email should be a valid email');
        return;
      }
    }
  </script>
</body>
</html>