.about.meeting {
  padding: 50px 0;
  background: var(--secondary-light-color);
}

.about.meeting .img-container {
  justify-content: center;
  position: relative;
}

.about.meeting .sections .img-container img {
  width: 100%;
  height: 60px;
  max-width: 600px;
  position: absolute;
  bottom: -50px;
  left: auto;
  right: 0;
}

.about.meeting .content p {
  margin-bottom: 36px !important;
}

.about.meeting .content a {
  padding: 12px 36px;
  font-size: 1.4rem;
}