.dev-log-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 24px;
  background: white;
  border-radius: 6px;
  margin-top: 16px;
  box-shadow: 0 3px 3px var(--box-shadow-primary-color);
}

.dashboard {
  flex-direction: column;
}

.dev-log-wrapper h2 {
  color: var(--primary-dark-color);
  margin-bottom: 4px;
}

.dev-log-wrapper p {
  color: var(--primary-color);
  margin-bottom: 8px !important;
}

.dev-log-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-search-default input {
  border: 1px solid var(--primary-color) !important;
  border-radius: 6px;
  padding: 4px 8px;
  margin-bottom: 4px;
}

.form-search-default textarea {
  border: 1px solid var(--primary-color) !important;
  border-radius: 6px;
  padding: 4px 8px;
  margin-bottom: 4px;
  height: 100px;
  /*cannot horizontal resize */
  resize: vertical;
}

.form-search-default select {
  border: 1px solid var(--primary-color) !important;
  border-radius: 6px;
  padding: 4px 8px;
  margin-bottom: 4px;
}

.form-search-default button {
  width: unset;
  flex: 1;
}

.notification {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  padding: 12px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 3px 3px var(--box-shadow-primary-color);
  margin: 12px;
  z-index: 100;
  color: var(--primary-color)
}

#show-response {
  max-width: 300px;
  overflow-wrap: break-word;
}