  /* General Styles */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px 20px;
    color: white;
  }
  
  .logo {
    width: 100px;
    height: 40px;
    background: url('/path/to/logo.png') no-repeat center center;
    background-size: contain;
  }
  
  .nav-menu {
    z-index: 10;
    display: flex;
    align-items: center;
  }
  
  .nav-menu button {
    display: none; /* Hidden by default */
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  
  .nav-menu ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nav-menu ul li {
    display: flex;
  }
  
  .nav-menu ul li a {
    flex: 1;
    padding: 8px 16px;
    color: white;
    text-decoration: none;
    transition-duration: 200ms;
  }

  
  /* Mobile Styles */
  @media (max-width: 768px) {
    
    .nav-menu button.show-menu {
      display: block !important;
    }
  
    .nav-menu ul {
      display: none; /* Hidden by default on mobile */
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 20px;
      background-color: var(--primary-color);
    }
  
    .nav-menu ul.show {
      display: flex;
    }
  
    .nav-menu ul li:hover a {
      background: white;
      color: var(--primary-color);
    }
  }
  
  /* Button to toggle menu */
  .nav-menu button {
    display: none;
  }
  
  .nav-menu button.show-menu {
    display: none;
  }
  
  .nav-menu button.close-menu {
    display: none;
  }
  
  .nav-menu ul.show + .close-menu {
    display: block;
  }
  
  .nav-menu ul.show + .close-menu + .show-menu {
    display: none;
  }